body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

*:focus { outline: none; } /* quita todo el focus */

h4{
	font-weight: 200;
}
.menu li {
	display: inline-block;
}

.login li{
	display: inline-block;
}

.header {
	background-color: #273b47;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Lato', sans-serif;
}

.menu {
	display: flex;
	align-items: center;
}

.contenedorheaderizq {
	display: flex;
	justify-content: flex-end;
}

.contenedorheaderizq a {
	color: white;
	padding: 13px;
}

.contenedorheaderizq .menuline {
	border-right: 2px solid white;
}

.menu a:hover {
	border-top: 5px solid #7DCD40;
}

.logotipo {
	margin: 0;
	display: inline-block;
	padding-left: 10px;
}

.login {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
} 

.login button {
	padding: 7px 13px 11px 13px;
	font-family: 'Lato', sans-serif;
	border-radius: 3px;
	font-size: 15px;
	border:  0;
	margin: 8px 0;
	background-color: #ff4842;
	color: white;
	box-shadow: inset 0 -0.2em rgba(0,0,0,.3);
	transition-property: background-color;
	transition-duration: 1s;
}

.login button:hover {
	transition-property: background-color;
	transition-duration: 1s;
	background-color: #7dcd40;
}

.portada {
	background-color: #efefef;
}

.contenedor {
	width: 960px;
	margin: auto;
}

form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#buscar {
	padding: 10px 7px;
	border-radius: 6px;
	font-size: 16px;
	border: 0;
	margin: 6px 5px;
}

::-webkit-input-placeholder { 
	color: #b3b3b3; 
}

.botonbusqueda {
	background-color: #333333;
	padding: 10px;
	border-radius: 6px;
}

.mainpost {
	background-image: url('../images/img-main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.maintitle {
	padding: 313px 434px 36px 20px;
}

.caja {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 27px 23px 23px 23px;
}

.maintitle h1 {
	font-weight: 400;
	font-size: 27px;
	color: #515151;
	margin: 0	0	23px 0;
}

.autora {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: #515151;	
	border-top: 1px solid gray;
}

.autora img {
	border-radius: 50%;
}

.mainimg {
	display: flex;
	align-items: center;
}

.mainimg h4 {
	padding-left: 10px;
}

.noticias {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

article {
	width: 303px;
	padding-top: 30px;	
}

article img {
	width: 100%;
	cursor: pointer;
}

article h2 {
	font-weight: 400;
	font-size: 22px;
	color: #515151;
	margin: 10px 0 24px 0;
	cursor: pointer;
}

.autorb {
	display: flex;	
	justify-content: space-between;
	border-top: 1px solid gray;
}

.autorb h4 {
	font-size: 14px;
	margin: 10px 0 0 0;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0 30px 0;
}

footer h3 {
	font-size: 15px;
	color: #6d6d6d;	
}

footer button { 
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	transition-property: background-color;
	transition-duration: 1s;
	color: #6d6d6d;
	padding: 5px 10px;
	background-color: #eaeaea;
	border: 1px solid #cccccc;
	cursor: pointer;
}

.pie {
	margin: 7px;
}

footer button:hover {
	transition-property: background-color;
	transition-duration: .5s;
	background-color: #cccccc;
}

